.agendamento {
  background-color: #2e2e2e;
  padding: 10rem 2rem;
  color: #eeeeee;
}

.span__agendamento {
  font-weight: bold;
  color: #ffdd56;
  text-decoration: underline 5px #ffdd56;
}

.titleAgendamento {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  margin: 0.5rem;
  text-decoration: underline 5px #ffdd56;
}

.form__agendamento{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label__agendamento {
  margin-right: 1rem;
}
