.contact {
  background-color: #eeeeee;
  padding: 1rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contatoInfos, .contatoMaps {
  padding: 1rem;
  height: 70%;
  box-shadow: 0px 0px 20px #2e2e2e2c;
  border-radius: .5rem;
}

.contactTitle, .mapsTitle{
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
}

.contactSubtitle, .mapsSubtitle {
  margin-bottom: 3rem;
}

.span {
  color: #ffdd56;
  font-weight: bold;
  text-shadow: 0px 0px 5px #2e2e2e;
}