.contact {
  background-color: #eeeeee;
  padding: .5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contatoInfos,
.contatoMaps {
  width: 30rem;
  min-width: 30rem;
  padding: 1rem;
  box-shadow: 0px 0px 20px #2e2e2e2c;
  border-radius: 0.5rem;
}

.contactTitle,
.mapsTitle {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  color: #2e2e2e;
}

.contactSubtitle,
.mapsSubtitle {
  margin-bottom: 2rem 0rem 1rem 0rem;
}

.span {
  color: #ffdd56;
  font-weight: bold;
  text-shadow: 0px 0px 5px #2e2e2e;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formInput,
.formTextarea {
  border: none;
  box-shadow: 0px 0px 20px #2e2e2e2c;
  border-radius: .3rem;
}

.formInput {
  height: 2rem;
  margin-bottom: 1.5rem;
}

.submitButton {
  background: #007bff;
  color: #eeeeee;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  margin: 1rem 0rem;
}

.mapIframe {
  height: 20rem;
}

@media (max-width: 768px) {
  .contact {
    height: auto;
  }

  .contatoInfos,
  .contatoMaps {
    min-width: 100%;
    width: 100%;
    height: auto;
    box-shadow: none;
    padding: 0;
  }
}
@media (max-width: 425px) {
  .contactTitle,
  .mapsTitle {
    font-size: 1rem;
  }

  .contactSubtitle,
  .mapsSubtitle {
    font-size: 0.8rem;
  }

  .formLabel {
    font-size: 0.8rem;
  }
}
@media (max-width: 375px) {
}
