/* Marquee.module.css */
.marqueeContainer {
  background: linear-gradient(to right, #ffe57b, #ffcc00);
  color: #5e5e5e;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  padding: .5rem 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  flex-wrap: wrap;
  overflow: hidden;

}

.linkFaixa {
  width: 100%;
  color: #5e5e5e;
  text-decoration: none;
}

.marqueeContent {
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marqueeContent p {
  font-weight: 600;
  padding: 0 1rem; /* Reduzido o espaçamento */
  flex: 0 0 auto;
  margin: 0;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logoFaixa {
  width: 3rem;
  min-width: 3rem;
  margin-inline: 1rem;
}


/* Para telas menores */
@media (max-width: 768px) {

    .marqueeContent{
      animation: marquee 10s linear infinite;
    }

    .marqueeContent p {
      padding: 0 0.5rem;
    }
  }