/* Marquee.module.css */
.marqueeContainer {
  overflow: hidden;
  background: linear-gradient(10deg, #ffdd56,#ffe680, #ffec9f);
  color: #2e2e2e;
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
  padding: .5rem 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}

.marqueeContent {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.marqueeContent p {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0 1rem; /* Reduzido o espaçamento */
  flex: 0 0 auto;
  margin: 0;
}

.spanFaixa {
  font-size: 1.3rem;
  text-decoration: underline 5px rgba(255, 0, 0, 0.373);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Para telas menores */
@media (max-width: 768px) {

    .marqueeContent{
      animation: marquee 10s linear infinite;
    }

    .marqueeContent p {
      font-size: 1rem;
      padding: 0 0.5rem;
    }
  }