.features {
  padding: 2.5rem .5rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image {
  width: 70%;
}

.imageGallery {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.imageRede:nth-child(1), .imageRede:nth-child(4) {
  width: 4rem;
}

.imageRede:nth-child(2), .imageRede:nth-child(3) {
  width: 6rem;
}

@media (min-width: 768px) {
  .service{
    flex-direction: row;
  }
  .image {
    width: 20rem;
  }
  .service:nth-child(2){
    flex-direction: row-reverse;
  }
  .serviceInfo {
    width: 40%;
  }
  .services {
  }
  .service:nth-child(4) {
    flex-direction: column;
  }

}

