.footer{
  background-color: var(--preto);
  color: var(--branco);
  padding: 1rem;
}
.footerContent {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footerSection {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.logo {
  width: 7rem;
}
.socialIcon {
  width: 2rem;
}

.imgSocial {
  width: 2rem;
}

.footerLink {
  color: var(--branco);
  text-decoration: none;
}

.footerListItem {
  list-style: none;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .copyright {
    text-align: center;
  }
}