.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
  padding: 2.5rem 0.5rem;
  height: 100vh;
  background-color: var(--preto);
  color: var(--branco);
}

.container__testimonials {
  width: 100%;
  overflow: hidden;
}

.galleryTitle,
.cardName {
  color: var(--amarelo);
}

.subtitle,
.galleryTitle,
.cardName,
.cardComment,
.convite {
  text-align: center;
}

.container__testimonials {
  width: 100vw;
  position: relative;
}

.marquee {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  animation: marqueeAnimation 30s linear infinite;
  width: fit-content; /* Garante que o .marquee tenha uma largura adequada */
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 1.5rem;
  width: 250px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.cardComment {
}

@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
