.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #eeeeee;
}

.container__testimonials {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}

.galleryTitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  color: #2e2e2e;
  position: absolute;
  top:5px;
  left: 5px;
}

.subtitle {
  z-index: 1;
  color: #2e2e2e;
  position: absolute;
  top:50px;
  left: 5px;
}

.spanTestm {
  color: #ffdd56;
  font-weight: bold;
  text-shadow: 0px 0px 5px #2e2e2e;
}

.container__testimonials {
  width: 100vw;
  position: relative;
}

.marquee {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  animation: marqueeAnimation 30s linear infinite;
  width: fit-content; /* Garante que o .marquee tenha uma largura adequada */
}

.card {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 250px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}


.cardName {
  font-size: 1.25rem;
  font-weight: bold;
  color: #ffdd56;
  margin-bottom: 0.5rem;
  z-index: 1;
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 0px 0px 5px #2e2e2e;
}

.cardComment {
  font-size: 1rem;
  color: #2e2e2e;
  z-index: 1;
}


@keyframes marqueeAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {

  .testimonials {
    height: auto;
    padding-top: 7rem;
  }

  .galleryTitle {
    font-size: 1.5rem;
  }

  .subtitle {
    top: 2.5rem;
    font-size: 1rem;
  }

  .card {
    width: 200px;
  }

  .cardImage {
    width: 60px;
    height: 60px;
  }

  .cardName {
    font-size: 1rem;
  }

  .cardComment {
    font-size: 0.9rem;
  }

  .marquee {
    animation-duration: 40s;
  }
}

@media (max-width: 425px) {
  .galleryTitle {
    font-size: 1rem;
  }

  .subtitle {
    font-size: .8rem;
    top: 3rem;
  }

  .card {
    width: 200px;
  }

  .cardImage {
    width: 50px;
    height: 50px;
  }

  .cardName {
    font-size: 0.9rem;
  }

  .cardComment {
    font-size: 0.8rem;
  }

  .marquee {
    animation-duration: 50s;
  }

  .filter__mobile {
    display: none;
  }
}

@media (max-width: 375px) {
  .galleryTitle {
    font-size: 1rem;
  }
  .subtitle {
    font-size: .8rem;
  }
}
